<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSC Media Player</title>
</head>
<body>
  <div class="wrapper">
    <div class="player">
      <video
        id="player"
        width="600"
      ></video>
      <audio id="audioPlayer"></audio>
      <div class="player-overlay">
        <div class="player-actions">
          <button
            class="button"
            id="backward"
            aria-label="go back 10 seconds"
            title="go back 10 seconds"
          ></button>
          <button
            class="button"
            id="play"
            aria-label="play video"
            title="play video"
          ></button>
          <button
            class="button"
            id="pause"
            hidden
            aria-label="pause video"
            title="pause video"
          ></button>
          <button
            class="button"
            id="forward"
            aria-label="go forward 10 seconds"
            title="go forward 10 seconds"
          ></button>
          <div class="player-progress">
            <input type="range" id="progress" min="0" value="0" step="1" />
          </div>
        </div>
      </div>
    </div>
    <button id="selectVideoBtn">Open</button>
    <input type="file" id="fileInput" accept="video/*" />
    <div id="videoTitleDisplay"></div>
  </div>

  <script src="../app/index.js"></script>
</body>
</html>
